*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}body{
	font-family: 'Montserrat', sans-serif;
}
.container-fluid{
	width: 100%;
	float: left;
}
.container{
	width: 1200px;
	margin: auto;
}
.row{
	width: 100%;
	float: left;
    display: flex;
}
.col{
	width: 100%;
	float: left;
	
}
.header{
	width: 100%;
	float: left;
	background: #070808;
}

.header-content{
	width: 100%;
	float: left;
	padding: 40px 0px;
}
.header-icon{
	font-size: 20px;
	float: left;
	color: white;
	padding: 40px 0px;
}
.header-icon i{
	padding: 0 10px;
}
.header-icon i:hover{
	transform: rotateY(180deg);
	transition: all .4s ease-out 0s;
	color: #e5bf4a;
}
.header-content img{
	font-size: 30px;
	font-weight: ;
	color: ;
	float: left;
	margin-left: 40px;
}
.header-content .btn{
	font-size: 20px;
	font-weight: 400;
	padding: 10px 20px;
	border: 1px solid #E5BF4A;
	background: none;
	color: #E5BF4A;
	float: right;
}
.menubar{
	width: 100%;
	float: left;
	text-align: center;
}
.header .menubar ul li{
	font-size: 15px;
    padding: 10px 10px;
    display: inline-block;
    color: white;
    text-align: center;
   }
.header .menubar a{
	 text-decoration: none;
	 color: white;
}
.background{
	width: 100%;
	float: left;
	color: red;
}
.background #image1{
	width: 100%;
	float: left;
	background-image: url(../image/bg1.webp);
	background-size: cover;
	height: 200px;
}
.background-content{
	width: 100%;
	float: left;
	padding: 100px 0;
}
.background-content h1{
	font-size: 50px;
	font-weight: 250;
	color: white;
	margin-bottom: 30px;
}
.theme{
	width: 100%;
	float: left;
	background: #070808;
}
.theme-content{
	width: 100%;
	float: left;
	padding: 20px 10px;
	position: relative;
}
.theme-content img{
	width: 100%;
	float: left;
}
.theme-content hr{
	width: 75px;
	text-align: center;
	color: #E5BF4A;
	margin-top: 20px;
	position: absolute;
	top: 84%;
	right: 47%;
}
.theme-content h1{
	font-size: 40px;
	color: white;
	text-align: center;
	font-weight: 400;
    margin-top: 30px;
}
.theme-content h2{
	font-size: 24px;
	color: #E5BF4A;
	font-weight: 400;
	margin-top: 40px;
	margin-left: 40px;
}
.theme-content p{
	font-size: 16px;
	color: white;
	font-weight: 400;
	margin-top: 25px;
	margin-bottom: 15px;
	margin-left: 40px;
}
.video{
	width: 100%;
	float: left;
	background: #070808;
}
.video-content{
	width: 100%;
	float: left;
	position: relative;
}
 #image2{
	width: 100%;
	float: left;
	background-image: url(../image/bg6.webp);
	background-size: cover;
	height: 600px;

}
.video-content i{
	font-size: 100px;
	text-align: center;
	color: #E5BF4A;
	position: absolute;
	top: 230px;
	left: 570px;
}
.rating{
	width: 100%;
	float: left;
	background: #070808;
	padding: 50px 0;
}
.rating-heading{
	width: 100%;
	float: left;
	text-align: center;
	padding: 30px 0;
}
.rating-heading h1{
	font-size: 40px;
	font-weight: 400;
	color: white;
}
.rating-content{
	width: 100%;
	float: left;
	border: ;
	display: flex;

}
.rating-content i{
	font-size: 15px;
	color: #E5BF4A;
	margin-bottom: 15px;
	margin-top: 10px;
}
.rating-content img{
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 50%;
	float: left;
	margin-top: 10px;
}
.rating-content h1{
	font-size: 20px;
	color: white;
	font-weight: 400;
	margin-bottom: 20px;
	margin-top: 10px;
}
.rating-content p{
	font-size: 15px;
    color: white;
    font-weight: 400;
    margin-top: 25px;
    margin-left: 10px;
}
#org{
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	padding: 30px 30px;
}
#org1{
	border-right: 1px solid white;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	border-left: 1px solid white;
	padding: 30px 30px;
}
#org2{
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	padding: 30px 30px;
}
.blog{
	width: 100%;
	float: left;
	background: #070808;
	padding-bottom: 50px;
}
.blog-heading{
	width: 100%;
	float: left;
	padding: 50px 50px;
}
.blog-heading h1{
	font-size: 20px;
	font-weight: 300;
	color: white;

}
.blog-heading .btn2{
	font-size: 15px;
	float: right;
	background: orange;
	color: black;
	padding: 10px 20px;
}
.blog-heading .btn2:hover{
	background: black;
	color: orange;
	border: 1px solid orange;
}
.blog-content{
	width: 100%;
	float: left;
	display: ;
	padding: 0px ;
	margin-right: 0px;
	
}
.blog-content hr{
background: orange;
margin-top: 10px;
width: 40%;
}
.blog-content h1{
	font-size: 20px;
	font-weight: 400;
	color: orange;
}
.blog-content p{
	font-size: 12px;
	font-weight: 400;
	color: white;
	margin-top: 15px;
	margin-bottom: 20px;
}
.blog-content span{
	font-size: 15px;
	font-weight: 400;
	color: orange;
}
.blog-content img{
	width: 100%;
	float: left;
}
#about{
	padding: 14px 20px;
	border-bottom: 1px solid gray;
	margin-right: 10px;
	border-right: 1px solid gray;
	border-left: 1px solid gray;
}
.blog-content-1{
	width: 100%;
	float: left;
	
}
.blog-content-1 h1{
	font-size: 20px;
	font-weight: 400;
	color: orange;
}
.blog-content-1 p{
	font-size: 12px;
	font-weight: 400;
	color: white;
	margin-top: 15px;
	margin-bottom: 20px;
}
.blog-content-1 span{
	font-size: 15px;
	font-weight: 400;
	color: orange;
}
.blog-content-1 img{
	width: 100%;
	float: left;
}
.instagram{
	width: 100%;
	float: left;
	background: #070808;
	padding: 50px 0;
}
.instagram-heading{
	width: 100%;
	float: left;
	position: relative;
	text-align: center;
}
.instagram-heading h1{
	font-size: 20px;
	font-weight: 400;
	color: white;
	margin-bottom: 15px;
}
.instagram-heading .btn{
	font-size: 15px;
	padding: 10px 25px;
	border: 1px solid orange;
	color: orange;
	background: #070808;
	margin-bottom: 20px;
}
.instagram-heading i{
	position: absolute;
	top: 53%;
	right: 53%;
	font-size: 15px;
	color: orange;
	margin-bottom: 20px;
}
.instagram-image{
	width: 100%;
	float: left;
	padding: 0px 10px;
}
.instagram-image img{
	width: 100%;
	float: left;
	display: flex;
}
.footer{
	width: 100%;
	float: left;
	background: #070808;
	padding: 50px 0;
}
.footer-heading{
	width: 100%;
	float: left;
}
.footer-content hr{
	width: 20%;
	color: orange;
    margin-top: 10px;
}
.footer-heading img{
	width: 40%;
	float: left;
}
.footer-heading ul li{
	font-size: 15px;
	float: ;
	display: inline-block;
	color: white;
	padding: 30px 15px;
}
.footer-heading ul li:hover{
	color: orange;
}
.footer-content{
	width: 100%;
	float: left;
	padding: 20px 0px;
	padding-right: 0px;
}
.footer-content p{
	font-size: 15px;
	color: white;
	margin-top: 20px;
}
.icon{
	width: 100%;
	float: left;
	position: relative;
	margin-top: 20px;
}
.icon .fa-facebook{
	font-size: 13px;
	color: white;
	position: absolute;
	    top: 35%;
	    left: 30%;
	    margin-left: 6px;	
}
.icon .fa-facebook:hover{
	color: orange;
}
.icon .fa-instagram{
	font-size: 13px;
	color: white;
	position: absolute;
	    top: 35%;
	    left: 0%;
    margin-left: 6px;	
}
.icon .fa-instagram:hover{
	color: orange;
}
.icon .fa-twitter{
	font-size: 13px;
	color: white;
	position: absolute;
	    top: 35%;
	   left: 60%;
    margin-left: 6px;	
}
.icon .fa-twitter:hover{
	color: orange;
}
.icon .btn{
	font-size: 15px;
	color: white;
	padding: 13px 20px;
	background: #070808;
	border: 1px solid #80808096;
}
.footer hr{
	width: 100%;
	float: left;
	margin-top: 20px;
	background: orange;
}
.icon .btn:hover{
	color: orange;
	border: 1px solid orange;

}
.footer-content h1{
	font-size: 17px;
	font-weight: 300;
	color: orange;
	margin-top: 20px;
	margin-bottom: 10px;
}
.footer-content i{
	font-size: 20px;
	color: white;
	margin-top: 20px;
}
.footer-content span{
	font-size: 13px;
	color: white;
}
#space{
	padding: 10px 40px;
}
@media only screen and (max-width: 600px){
	body{
		background: red;
		margin: 0;
		padding: 0;
	}
	.container-fluid{
		width: 100%;
	}
	.container{
		width: 100%;
	}
	.row{
		width: 100%;
		display: flex;
	}
	.col{
		width: 100%;
	}
	.header{
		width: 100%;
	}
	.header-content{
		width: 100%;
		padding: 20px 0;
	}
	.header-icon{
    font-size: 10px;
    
    }
    .header-icon i{
    	padding: 0 2px;
    }
    .header-content img{
    	margin-left: 0px;
    }
    .header-content .btn{
    	font-size: 10px;
    padding: 10px 10px;
    }
    .menubar{
    	width: 100%;
    }
    .header .menubar ul li {
    font-size: 8px;
    padding: 0px 2px;
    }
    .background{
    	width: 100%;
    }
    .background-content{
    	width: 100%;
    	padding: 20px 0;
    }
    .background #image1{
    	height: 100px;
    }
    .background-content h1{
    	font-size: 30px;
    }
    .background-content .btn1 {
    font-size: 7px;
    padding: 7px 7px;
    margin-left: 5px;
    }
    
    .theme{
    	width: 100%;
    }
    .theme-content{
    	width: 100%;
    	padding: 10px 2px;
    }
    .theme-content h1 {
    font-size: 10px;
    margin-top: 5px;
    }
    .theme-content hr {
    margin-top: 10px;
    top: 73%;
    right: 38%;
    }
    .theme-content h2 {
    font-size: 10px;
    margin-top: 5px;
    margin-left: 5px;
    }
    .theme-content p {
    font-size: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    }
    #image2{
    	width: 100%;
    	height: 100px;
    }
    .video-content i{
    font-size: 40px;
    top:30%;
    left: 45%;
    }
    .rating-heading{
    	width: 100%;
    	padding: 15px 0;
    }
    .rating-heading h1 {
    font-size: 10px;
    }
    .rating-content{
    	width: 100%;
    }
    .rating-content i{
    	    font-size: 10px;
    margin-bottom: 0px;
    margin-top: 5px;
    }
    .rating-content h1{
    	font-size: 8px;
    margin-bottom: 5px;
    margin-top: 5px;
    }
    .rating-content img{
    width: 30px;
    height: 30px;
    margin-top: 5px;
    }
    .rating-content p{
    	font-size: 8px;
      margin-top: 10px;
    margin-left: 7px;
    }
    .blog{
    	width: 100%;
    	padding-bottom: 10px;
    }
    .blog-heading{
    	width: 100%;
    	padding: 10px 10px;
    }
    .blog-heading h1 {
    font-size: 10px;
    }
    .blog-heading .btn2{
	font-size: 10px;
	padding: 5px 10px;
    }
    .blog-content{
    	width: 100%;
    }
      .blog-content img{
    	width: 100%;
    	height: 150px;
    	object-fit: cover;
    }
    .blog-content-1 img{
    	width: 100%;
    	height: 150px;
    	object-fit: cover;
    }
    #about{
    	padding: 5px 5px;
    	margin-right: 0px;
    }
    .blog-content h1 {
    font-size: 8px;
    }
    .blog-content p {
    font-size: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    }
    .blog-content span {
    font-size: 5px;
    color: orange;
    }
    .instagram{
    	width: 100%;
    	padding: 0px;
    }
    .instagram-heading{
    	width: 100%;
     }
    .instagram-heading i{
       	top: 51%;
    	right: 59%;
    	font-size: 10px;
    }
    .instagram-heading h1 {
    font-size: 10px;
    margin-bottom: 10px;
    }
    .instagram-heading .btn {
    font-size: 12px;
    padding: 5px 20px;
    margin-bottom: 15px;
    margin-left: -4px;
    }
    .footer{
    	width: 100%;
    	padding: 10px 0px;
    }
    .footer hr{
    	margin-top: 5px;
    }
    .footer-heading{
    	width: 100%;
    }
    .footer-heading ul li {
    font-size: 8px;  
    padding: 0px 2px
    }
    .footer-heading img {
    width: 30%;
    margin-left: 10px;
    }
    #space{
    	padding: 10px 10px;
    }
    .footer-content{
    	width: 100%;
    	padding: 0px;
    }
    .footer-content i {
    font-size: 15px;
    margin-top: 5px
    }
    .footer-content p{
    font-size: 8px;
    margin-top: 5px;
    }
    .footer-content h1 {
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    }
    .footer-content span {
    font-size: 5px;
    }
    .icon {
    width: 100%;
     margin-top: 0px
    }
    .icon .btn{
    	font-size: 12px;
    	padding: 5px 20px;
    }
    .icon .fa-twitter {
    font-size: 10px;
    top: 79%;
    left: 0%;
    }
     .icon .fa-facebook {
    font-size: 10px;
     top: 45%;
    left: 0%;
     }
     .icon .fa-instagram {
    font-size: 10px;
      top: 12%;
    left: 0%;
     }
     #org2{
     	padding: 30px 26px;
     }
 }
 @media only screen and (max-width: 768px){
 	body{
 		background: red;
 		margin: 0px;
 		padding: 0px;
 	}
 	.container-fluid{
		width: 100%;
	}
	.container{
		width: 100%;
	}
	.row{
		width: 100%;
		display: flex;
	}
	.col{
		width: 100%;
	}
	.header{
		width: 100%;
	}
	.header-content{
		width: 100%;
		padding: 20px 0;
	}
	.header-content img{
		width: 100%;
		margin-left: 0px;
	}
	.header-icon{
    font-size: 30px;
    padding: 40px 0px;
    }
    .header-icon i{
    	padding: 0 10px;
    }
      .header-content .btn{
    	font-size: 7px;
    padding: 5px 5px;
    }
    .background{
    	width: 100%;
    }
    .background-content{
    	width: 100%;
    	padding: 20px 20px;
    }
    #image1{
    	width: 100%;
    	height: 200px;
    }
    .background-content h1{
    	font-size: 20px;
    	margin-bottom: 10px;
    }
    .background-content.btn1{
    	font-size: 15px;
    	padding: 12px 25px;
    }
    .theme{
    	width: 100%;
    }
    .theme-content{
    	width: 100%;
    	padding: 0px;
    }
    .theme-content h1{
    	font-size: 25px;
    	margin-top: 10px;
    }
    .theme-content img{
    	width: 100%;
    	margin-top: 40px;
    }
    .theme-content h2{
    	font-size: 25px;
    	margin-left: 10px;
    }
    .theme-content p{
    	font-size: 16px;
    	margin: 15px 10px;
    }
    .item{
    	width: 100%;
    }
    .item-content{
    	width: 100%;
    	padding: 15px 5px;
    }
    .item-content img{
    	width: 100%;
    	margin-bottom: 10px;
    }
    .item-content h1{
    	font-size: 20px;
    }
    .item-content p{
    	font-size: 20px;
    	margin-top: 5px;
    }
    .video{
    	width: 100%;
    }
    .video-content{
    	width: 100%;
    }
    #image2{
    	width: 100%;
    	height: 200px;
    }
    .video-content i{
    	font-size: 70px;
    	top: 30%;
    	left: 47%;
    }
    .rating{
    	width: 100%;
    	padding: 0px;
    }
    .rating-heading{
    	width: 100%;
    	padding: 20px 0;
    }
    .rating-heading h1{
    	font-size: 30px;
    }
    .rating-content{
    	width: 100%;
    }
    .rating-content i{
    	margin-bottom: 10px;
    }
    .rating-content h1{
    	margin-bottom: 10px;
    }
    .rating-content img{
    	margin-top: 0px;
    }
    .blog{
    	width: 100%;
    	padding-bottom: 0px;
    }
    .blog-heading{
    	width: 100%;
    	padding: 25px 25px;
    }
    .blog-content{
    	width: 100%;
    }
    .blog-content img{
    	width: 100%;
    	height: 315px;
    	object-fit: cover;
    }
    .blog-content-1{
    	width: 100%;
    }
    .blog-content-1 img{
    	width: 100%;
    	height: 315px;
    	object-fit: cover;
    }
    #about{
    	padding: 10px 10px;
    	margin: 0px;
    }
    .instagram{
    	width: 100%;
    	padding: 20px 0;
    }
    .instagram-heading{
    	width: 100%;
    }
    .instagram-heading i{
    	right: 55%;
    }
    .footer{
    	padding: 15px 0;
    }
    .footer-heading{
    	width: 100%;
    }
    .footer-heading ul li{
    	padding: 15px 5px;
    }
    .footer hr{
    	margin: 0px;
    }
    #space{
    	padding: 10px 10px;
    }
    .footer-content{
    	width: 100%;
    }
    .footer-content p{
       margin: 0px;
    }
    .icon{
    	width: 100%;
    	margin-bottom: 5px;
    }
    .icon .btn{
    	margin-bottom: 5px;
    }
    .icon .fa-twitter{
    	top: 68%;
    	left: 2%;
    	margin: 0px;
    }
    .icon .fa-facebook{
       top: 18%;
       left: 47%;
       margin: 0px;
    }
    .icon .fa-instagram{
     margin: 0px;
     top: 20%;
     left: 2%;
    }
 }
	